<p class="footer-copyright">© 2021
  <span class="footer-copyright__text">| All Rights Reserved |</span>
</p>
<p class="footer-developer">Developed with
<svg class="footer-developer__icon">
  <use href="{{this}}#heart"></use>
</svg>
by
<a class="footer-developer__link">Yevhen Leshchuk</a>
</p>