<div class='footer-modal'>
  <button type='button' class='close-modal' id="footer-modal">
    <svg class='close-modal__icon' width="20" height="20" id='close' viewBox='0 0 32 32'>
      <path d='M32 3.223L28.777 0 16 12.777 3.223 0 0 3.223 12.777 16 0 28.777 3.223 32 16 19.223 28.777 32 32 28.777 19.223 16 32 3.223z'></path>
    </svg>
  </button>
  <div class='team-list__item'>
    <div class='team-list__images'></div>
    <div class='team-content'>
      <h3 class='team-content__title'>Yevhen Leshchuk</h3>
      <p class='team-content__text'>Frontend Developer</p>
      <ul class='team-social'>
        <li class='team-social__item'>
          <a href='https://www.instagram.com' class='team-social__link'>
            <svg class='team-social__icon' aria-label='Link to instagram'>
              <use href='{{this}}#instagram'></use>
            </svg>
          </a>
        </li>
        <li class='team-social__item'>
          <a href='https://twitter.com' class='team-social__link'>
            <svg class='team-social__icon' aria-label='Link to  twitter'>
              <use href='{{this}}#twitter'></use>
            </svg>
          </a>
        </li>
        <li class='team-social__item'>
          <a href='https://www.facebook.com' class='team-social__link'>
            <svg class='team-social__icon' aria-label='Link to  facebook'>
              <use href='{{this}}#facebook'></use>
            </svg>
          </a>
        </li>
        <li class='team-social__item'>
          <a href='https://www.linkedin.com' class='team-social__link icon-linkedin'>
            <svg class='team-social__icon' aria-label='Link to  linkedin'>
              <use href='{{this}}#linkedin'></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>