<p class='footer-copyright'>© 2021
  <span class='footer-copyright__text'>| All Rights Reserved |</span>
</p>
<p class='footer-developer'>Developed with</p>

<svg class='footer-developer__icon' id='heart' viewBox='0 0 32 32'>
  <path
    fill='#ff6b08'
    style='fill:var(--color1, #ff6b08)'
    d='m16 30.583-2.24-2.24C5.44 20.983 0 16.023 0 9.943c0-4.96 3.84-8.8 8.8-8.8 2.72 0 5.44 1.28 7.2 3.36 1.76-2.08 4.48-3.36 7.2-3.36 4.96 0 8.8 3.84 8.8 8.8 0 6.08-5.44 11.04-13.76 18.4L16 30.583z'
  ></path>
</svg>
<p class='footer-developer__by'>by</p>
<a class='footer-developer__link'>Yevhen Leshchuk</a>