<div class='header-auth'>
  <svg class='header-entrance__icon' data-action='entrance'>
    <use href='{{this}}#entrance'></use>
  </svg>
  <svg class='header-exit__icon' data-action='exit'>
    <use href='{{this}}#exit'></use>
  </svg>
  <div class='header-user'></div>
</div>

<div class='header-main-nav'>
  <div class='header-logo' data-action='home'>
    <svg class='header-logo__icon'>
      <use href='{{this}}#film'></use>
    </svg>
    <h1 class='header-logo__name'><span class='header-logo--accent'>Film</span>Library</h1>
  </div>
  <div class='header-nav'>
    <button
      type='button'
      class='header-button header-home-btn header-button--active'
      data-action='home'
    >Home</button>
    <button type='button' class='header-button header-library-btn' data-action='library'>my library</button>
  </div>
</div>

<form class='header-form'>
  <input
    class='header-form__input'
    type='text'
    name='query'
    autocomplete='off'
    placeholder='Search Movies'
  />
  <svg class='header-form__icon'>
    <use href='{{this}}#search'></use>
  </svg>
</form>

<div class='header-control'>
  <button
    type='button'
    class='header-control__btn header-control__watched'
    data-btn='watched'
  >Watched</button>
  <button
    type='button'
    class='header-control__btn header-control__queue'
    data-btn='queue'
  >Queue</button>
</div>