<div class="header-box">
  <div class='header-logo' data-action='home'>
    <svg
      width='24'
      height='24'
      fill='none'
      id='film'
      xmlns='http://www.w3.org/2000/svg'
      data-llp-composed='true'
      class='lazy-line-painter header-logo__icon'
    >
      <path
        d='M19.82 2H4.18A2.18 2.18 0 002 4.18v15.64A2.18 2.18 0 004.18 22h15.64A2.18 2.18 0 0022 19.82V4.18A2.18 2.18 0 0019.82 2zM7 2v20M17 2v20M2 12h20M2 7h5M2 17h5M17 17h5M17 7h5'
        data-llp-id='film-0'
        data-llp-duration='1700'
        data-llp-delay='0'
        fill-opacity='0'
        style='stroke-linecap: square'
        data-llp-stroke-join=''
        data-llp-stroke-cap='square'
      ></path>
    </svg>
    <h1 class='header-logo__name'>Film<span class='header-logo--accent'>Library</span></h1>
</div>

  <div class='header-nav'>
    <button
      type='button'
      class='header-button header-home-btn header-button--active'
      data-action='home'
    >Home</button>
    <button type='button' class='header-button header-library-btn' data-action='library'>my library</button>
  </div>

  <div class="header-lang">
     <ul class='control__languages'>
    <li class='control__languages-item'>
      <a href='#' class='control__languages-link' data-set='en-US'>Eng</a>
    </li>
    <li class='control__languages-item'>
      <a href='#' class='control__languages-link' data-set='ru-RU'>Ru</svg>
      </a>
    </li>
  </ul>
</div>

<div class='switcher'>
  <div class='theme-switch'>
    {{!-- <svg class='theme-switch__icon' id='sun' role='img' aria-label='Иконка солнца'>
      <use href='{{this}}#sun'></use>
    </svg> --}}
  <svg
    class='theme-switch__icon'
    role='img'
    aria-label='Иконка солнца'
    id="sun"
    viewBox="0 0 32 32">
    <path  d="M16 10c-3.306 0-6 2.694-6 6s2.694 6 6 6 6-2.694 6-6-2.694-6-6-6zm15.4 5.031l-5.919-2.956L27.575 5.8c.281-.85-.525-1.656-1.369-1.369l-6.275 2.094L16.969.6c-.4-.8-1.537-.8-1.938 0l-2.956 5.919-6.281-2.094c-.85-.281-1.656.525-1.369 1.369l2.094 6.275L.6 15.032c-.8.4-.8 1.538 0 1.938l5.919 2.956-2.094 6.281c-.281.85.525 1.656 1.369 1.369l6.275-2.094 2.956 5.919c.4.8 1.538.8 1.938 0l2.956-5.919 6.275 2.094c.85.281 1.656-.525 1.369-1.369l-2.094-6.275 5.919-2.956c.813-.406.813-1.544.012-1.944zm-9.744 6.625c-3.119 3.119-8.194 3.119-11.313 0s-3.119-8.194 0-11.313c3.119-3.119 8.194-3.119 11.313 0s3.119 8.194 0 11.313z"/>
    </path>
  </svg>

    <div class='theme-switch__control'>
      <input
        class='theme-switch__toggle'
        type='checkbox'
        name='theme'
        id='theme-switch-toggle'
        aria-label='Переключить между тёмной и светлой темой'
      />
      <label aria-hidden='true' class='theme-switch__track' for='theme-switch-toggle'>
      </label>
      <div aria-hidden='true' class='theme-switch__marker'></div>
    </div>

  <svg
    class='theme-switch__icon'
    id='moon' aria-label='Иконка луны'
    viewBox="0 0 32 32">
    <path  d="M17.701 32a15.97 15.97 0 0012.429-5.925c.442-.544-.04-1.339-.723-1.209-7.763 1.478-14.891-4.474-14.891-12.31 0-4.514 2.416-8.665 6.344-10.9.605-.345.453-1.262-.235-1.389-.879-.17-1.89-.267-2.923-.268-8.832 0-16 7.157-16 16 0 8.832 7.157 16 16 16z">
    </path>
  </svg>

  </div>
</div>

<div class='header-auth'>
    <svg
      class='header-entrance__icon'
      data-action='entrance'
      id="entrance"
      width="32"
      height="32">
      <path d="M12 16H2v-4h10V8l6 6-6 6zM32 0v26l-12 6v-6H8v-8h2v6h10V6l8-4H10v8H8V0z"/>
    </svg>

      <button class="header-exit-btn" type="submit"
      method='POST'>
    <svg
      class='header-exit__icon'
      data-action='exit'
      id="exit"
      viewBox="0 0 32 32">
      <path d="M24 20v-4h-10v-4h10v-4l6 6zM22 18v8h-10v6l-12-6v-26h22v10h-2v-8h-16l8 4v18h8v-6z">
    </svg>

      </button>
</div>

<form class='header-form'>
  <input
    class='header-form__input'
    type='text'
    name='query'
    autocomplete='off'
    placeholder='Search Movies'
  />
    <svg
      class='header-form__icon'
      id="search"
      viewBox="0 0 32 32">
      <path fill="none" stroke="#fff" style="stroke:var(--color4, #fff)" stroke-linejoin="round" stroke-linecap="round" stroke-width="2.667" d="M14.667 25.333c5.891 0 10.667-4.776 10.667-10.667S20.558 3.999 14.667 3.999 4 8.775 4 14.666s4.776 10.667 10.667 10.667zM28 28.001l-5.8-5.8"/>
    </svg>
</form>

<div class='header-control'>
  <button
    type='button'
    class='header-control__btn header-control__watched'
    data-btn='watched'
  >Watched</button>
  <button
    type='button'
    class='header-control__btn header-control__queue'
    data-btn='queue'
  >Queue</button>
</div>

<div class='header-user'></div>

</div>
