<div class='header-auth'>
  <svg class='header-entrance__icon' data-action='entrance'>
    <use href='{{this}}#entrance'></use>
  </svg>
  <svg class='header-exit__icon' data-action='exit'>
    <use href='{{this}}#exit'></use>
  </svg>
  <div class='header-user'></div>
</div>

<div class='header-main-nav'>
  <div class='header-logo' data-action='home'>
    <svg
      width='24'
      height='24'
      fill='none'
      id='film'
      xmlns='http://www.w3.org/2000/svg'
      data-llp-composed='true'
      class='lazy-line-painter header-logo__icon'
    >
      <path
        d='M19.82 2H4.18A2.18 2.18 0 002 4.18v15.64A2.18 2.18 0 004.18 22h15.64A2.18 2.18 0 0022 19.82V4.18A2.18 2.18 0 0019.82 2zM7 2v20M17 2v20M2 12h20M2 7h5M2 17h5M17 17h5M17 7h5'
        data-llp-id='film-0'
        data-llp-duration='1700'
        data-llp-delay='0'
        fill-opacity='0'
        style='stroke-linecap: square'
        data-llp-stroke-join=''
        data-llp-stroke-cap='square'
      ></path>
    </svg>
    <h1 class='header-logo__name'>Film<span class='header-logo--accent'>Library</span></h1>
  </div>
  <div class='header-nav'>
    <button
      type='button'
      class='header-button header-home-btn header-button--active'
      data-action='home'
    >Home</button>
    <button type='button' class='header-button header-library-btn' data-action='library'>my library</button>
  </div>
</div>

<form class='header-form'>
  <input
    class='header-form__input'
    type='text'
    name='query'
    autocomplete='off'
    placeholder='Search Movies'
  />
  <svg class='header-form__icon'>
    <use href='{{this}}#search'></use>
  </svg>
</form>

<div class='header-control'>
  <button
    type='button'
    class='header-control__btn header-control__watched'
    data-btn='watched'
  >Watched</button>
  <button
    type='button'
    class='header-control__btn header-control__queue'
    data-btn='queue'
  >Queue</button>
</div>