<iframe
  class='trailer-box'
  width='1000'
  height='600'
  src='https://www.youtube.com/embed/{{this}}'
  frameborder='0'
  allowfullscreen
></iframe>

<button type='button' class='close-modal trailer-btn'>
  <svg class='close-modal__icon' width='30' height='30' id='close' viewBox='0 0 32 32'><path
      d='M32 3.223L28.777 0 16 12.777 3.223 0 0 3.223 12.777 16 0 28.777 3.223 32 16 19.223 28.777 32 32 28.777 19.223 16 32 3.223z'
    ></path>
  </svg>
</button>