$gray: #818181;
$white: #FFFFFF;
$orange: #FF6B08;
$black: #000000;
$dark: #333333;
$lightGray: #8C8C8C;
$darkGray: #545454;
$sLightGray:#F7F7F7;
$red: #FF001B;
$bgBackdropDarkTheme:rgba(255, 107, 8, 0.65);
$bgBackdropLightTheme:rgba(0, 0, 0, 0.65);
$modalBoxShadow:  0 5px 20px -5px $orange;


$cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);