$gray: #818181;
$white: #ffffff;
$orange: #ff6b08;
$black: #000000;
$dark: #333333;
$lightGray: #8c8c8c;
$darkGray: #545454;
$sLightGray: #f7f7f7;
$red: #ff001b;
$bgBackdropDarkTheme: rgba(255, 107, 8, 0.65);
$bgBackdropLightTheme: rgba(0, 0, 0, 0.65);
$notActiveBtn: rgba(255, 107, 8, 0.55);
$modalBoxShadow: 0 5px 20px -5px $orange;
$textShadow: 1px 1px 20px #ff6b08, 0px 0px 0px #ff6b08;

$cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
