.footer {
  background-color: $sLightGray;

  @include fontProperty($color: $darkGray, $size: 14px, $height: 1.19, $text-align: center);

}

.footer > .container {
  padding-top: 30px;
  padding-bottom: 30px;

   @media screen and(min-width: 768px) {
    display: flex;
    justify-content: center;

    @include fontProperty($color: $darkGray, $size: 16px, $height: 1.14, $text-align: center);
  }
}

.footer-copyright {
  margin-bottom: 10px;
}

.footer-developer__icon {
  width: 14px;
  height: 13px;
}

.footer-developer__icon {
  margin-left: 10px;
  margin-right: 10px;
}

.footer-developer__link {
  text-decoration: underline;
  cursor: pointer;
}