.header-home {
  height: 230px;

  background-color: rgba(0, 0, 0, 0.56);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header/header-home/header-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/header/header-home/header-bg-mobile-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/header/header-home/header-bg-tablet.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/header-home/header-bg-tablet-2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/header/header-home/header-bg-desktop.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/header-home/header-bg-desktop-2x.jpg);
    }
  }
}

.header-library {
  height: 230px;

  background-color: rgba(0, 0, 0, 0.56);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header/header-library/header-library-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/header/header-library/header-library-mobile-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/header/header-library/header-library-tablet.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/header-library/header-library-tablet-2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/header/header-library/header-library-desctop.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/header-library/header-library-desctop-2x.jpg);
    }
  }
}

header .container {
  max-height: 230px;
  height: 100%;
  padding-top: 10px;

  @media screen and (min-width: 768px) {
    padding-left: 72px;
    padding-right: 72px;
  }
}

.header-auth {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.header-entrance__icon {
  width: 32px;
  height: 32px;
  fill: $white;
  cursor: pointer;

  &:hover {
    fill: $orange;
    transition:  fill 250ms $cubicBezier;
  }
}

.header-entrance__icon--hidden {
  display: none;
}

.header-button {
  border-style: none;
  background: transparent;
  outline: none;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;

  @include fontProperty(
    $color: $white,
    $weight: 500,
    $size: 12px,
    $height: 1.17,
    $transform: uppercase
  );

  @media screen and (min-width: 480px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.header-exit__icon {
  display: none;
}

.header-exit__icon--visible {
  display: block;
  width: 32px;
  height: 32px;
  fill: $white;
  cursor: pointer;

  &:hover {
    fill: $orange;
    transition:  fill 250ms $cubicBezier;
  }
}

.header-main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  margin-right: 113px;
}

.header-logo__icon {
  width: 24px;
  height: 24px;

  @media screen and (min-width: 768px) {
    margin-right: 13px;
  }
}

.header-logo__name {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;

    @include fontProperty($color: $white, $weight: 500, $size: 30px, $height: 1.17);
  }
}

.header-logo--accent {
  color: $orange;
}

.header-home-btn {
  margin-right: 35px;
}

.header-library-btn {
  display: none;
}

.header-button--visible {
  display: block;
  // border-bottom: solid 3px $orange;
}

.header-button--active {
  border-bottom: solid 3px $orange;
}

.header-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding: 6px;
  border-bottom: 0.5px solid $white;

  @media screen and (min-width: 1200px) {
    width: 336px;
  }
}

.header-form--hidden {
  display: none;
}

.header-form__input {
  border-style: none;
  background: transparent;
  outline: none;
  width: calc(100% - 20px);
  color: $white;

  @include fontProperty($size: 18px, $height: 1.14, $text-align: none);

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  &::placeholder {
    color: $white;
  }
}

.header-form__icon {
  width: 12px;
  height: 12px;
}

.header-control {
  display: none;
}

.header-user {
   display: none;
}

.header-user--visible {
   display: block;

  @include fontProperty(
    $color: $orange,
    $weight: 500,
    $size: 18px,
    $height: 1.17,
    $transform: uppercase
  );
}

.header-control--active {
  display: flex;
  justify-content: center;
  margin: auto;
}

.header-control__btn {
  padding: 14px 38px;
  width: 138px;
  background: transparent;
  outline: none;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;

  border: 1px solid $white;
  border-radius: 5px;

  transition: border-color 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include fontProperty($color: $white, $weight: 500, $height: 1.33, $transform: uppercase);
}

.header-control__btn:hover {
  background-color: $orange;
  border-color: transparent;
  transition: border-color 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-control__btn--active {
  background-color: $orange;
  border-color: transparent;
}

.header-control__watched {
  margin-right: 15px;
}
