.body--hidden {
  overflow: hidden;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: transparent;
  background-image: url(../images/sprite/close.svg);
  background-repeat: no-repeat;
  background-position: center;

  border-style: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.25);

  opacity: 1;
  z-index: 9999;
  transition: opacity 250ms $cubicBezier;
  pointer-events: initial;
  visibility: visible;

  &--hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms $cubicBezier;
  }
}

.movie-card {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 50px 20px 40px;
  overflow: scroll;
  transform: translate(-50%, -50%) scale(1);
  background-color: $white;

  @include fontProperty(
    $color: $black,
    $weight: 500,
    $height: 1.17,
    $text-align: left,
    $transform: uppercase
  );

  .backdrop--hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }

  @media screen and (max-width: 479px) {
    width: 100vw;
    height: 100vh;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
    height: 100vh;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    width: 618px;
    height: auto;
    padding: 40px 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 882px;
    height: auto;
    padding: 40px 30px;
  }
}

.movie-box {
  margin-bottom: 30px;
  min-width: 240px;
  min-height: 356px;
  overflow: hidden;
  border-radius: 5 px;

  @media screen and (min-width: 768px) {
    width: 265px;
    height: 375px;
    margin-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 318px;
    height: 477px;
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.movie-box__image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.movie-desc {
  @media screen and (min-width: 1200px) {
    width: 474px;
  }
}

.movie-title {
  display: flex;
  margin-bottom: 20px;

   @media screen and (min-width: 768px) {
   align-items: center;
  }
}

.movie-desc__trailer {
  width: 36px;
  height: 25px;
  min-width: 36px;
  min-height: 25px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  background-image: url(../images/content/youtube.svg);
  background-size: 36px;
  background-position: center;
  z-index: 10;
  cursor: pointer;
}

.movie-desc__title {
  margin-right: 20px;

  @include fontProperty(
    $color: $black,
    $weight: 500,
    $height: 1.15,
    $text-align: left,
    $transform: uppercase,
    $size: 20px
  );

  @media screen and (min-width: 768px) {
    @include fontProperty($height: 1.17, $text-align: left, $size: 30px);
  }
}

.info-box {
  display: flex;
  margin-bottom: 20px;
}

.movie-info__list {
  height: 26px;
  margin-bottom: 10px;
  @include fontProperty($color: $lightGray, $weight: 500, $text-align: left);

  @media screen and (min-width: 1200px) {
    height: auto;
  }
}

.movie-info {
  min-width: 80px;
  margin-right: 30px;

}

.movie-data {

  @include fontProperty($color: $black, $weight: 500, $text-align: left);
}

.movie-data__list {
  height: 26px;
  margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
      height: auto;
  }
}

.movie-data__vote {
  height: auto;
  display: inline-block;
  margin-bottom: 20px;
  padding: 1px 10px;
  border-radius: 5px;
  color: $white;
  background-color: $orange;

  @media screen and (min-width: 1200px) {
  margin-bottom: 8px;
  }
}

.movie-data__votes {
  height: auto;
  display: inline-block;
  margin-bottom: 20px;
  padding: 1px 10px;
  border-radius: 5px;
  color: $black;
  background-color: $sLightGray;

  @media screen and (min-width: 1200px) {
  margin-bottom: 8px;
  }
}

.slash {
  margin-right: 5px;
  margin-left: 5px;
  color: $lightGray;
}

.movie-data__title {
  text-transform: uppercase;
}

.movie-about__title {
  margin-bottom: 10px;
}

.movie-desc__overview {
  margin-bottom: 22px;

  @include fontProperty($color: $black, $weight: 500, $height: 1.66, $text-align: left);
}

.movie-btn {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.movie-btn__btn {
  width: 136px;
  height: 44px;
  cursor: pointer;
  border: 1px solid $black;
  border-radius: 5px;
  transition: border-color 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  color: $black;
  background: transparent;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: #ff6b08;
    border-color: transparent;
    transition: border-color 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $white;
  }
}

.movie-btn__btn--active {
  background-color: #ff6b08;
  border-color: transparent;
  transition: border-color 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $white;
}

.movie-btn--watched {
  margin-right: 15px;
}
