.plug-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 240px;
  min-height: 356px;

  @media screen and (min-width: 768px) {
    width: 512px;
    height: 554px;
  }
}

.plug-box__image {
  width: 100%;
  height: 100%;
}

.plug-box--hidden {
  display: none;
}